{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<nav>

    <div class="logo">
        <h1>Programadores</h1>
    </div>
    <div>

        <ul class="nav-links">
            <li><a href="a">INICIO</a></li>
            <li><a href="a">O PROJETO</a></li>
            <li><a href="a">O INSCREVA-SE</a></li>
            <li><a href="a">CONTEUDOS</a></li>
        </ul>

        <div class="menu">
            <div class="traco-1"></div>
            <div class="traco-2"></div>
            <div class="traco-3"></div>
        </div>



</nav>


<main>
    <img src="{% static 'images/main.png' %}" alt="imagem de uma tela de computador">
    <h2>PROJETO PROGRAMADORES</h2>
    <P>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic sint voluptas quasi illum numquam molestias, harum
        explicabo molestiae est reprehenderit illo unde non. Ullam, rerum quibusdam dolor praesentium harum eveniet?</P>
</main>
<section>
    <h2>aqui</h2>

</section>
</body>
{% endblock %}