{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<nav>

    <div class="logo">
        <h1>Programadores</h1>
    </div>


    <ul class="nav-links">
        <li>
            <a href="a">INICIO</a>
        </li>
        <li>
            <a href="a">O PROJETO</a>
        </li>
        <li>
            <a href="/website/templates/cadastro.html">INSCREVA-SE</a>
        </li>
        <li>
            <a href="a">VAMOS PRATICAR</a>
        </li>
    </ul>


    <div class="menu">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>

    </div>
</nav>


<main>
    <img src="{% static 'images/main.png' %}" alt="imagem de uma tela de computador">
    <h2>PROJETO PROGRAMADORES</h2>
    <P>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic sint voluptas quasi illum numquam molestias, harum
        explicabo molestiae est reprehenderit illo unde non. Ullam, rerum quibusdam dolor praesentium harum eveniet?</P>
</main>
<section>
    <h2>aqui</h2>
    <form action="/" method="post">
        {% csrf_token %}
        <label for="email">E-mail: </label>
        <input name="email" type="email" required>
    
        <label for="senha">senha: </label>
        <input name="senha" type="password" required>
    
        <label for="">Nome: </label>
        <input name="nome" type="text" required>
    
        <label for="">Sobrenome: </label>
        <input name="sobrenome" type="text" required>
    
        <label for="">Endereço: </label>
        <input name="endereco" type="text" required>
        <input type="submit" value="Enviar">
    
    </form>
    
        <input placeholder="Faça seu login" type="Login">
        <input placeholder="Digite sua senha" type="Senha">
        <button>Entrar</button>
    
</section>
</body>
{% endblock %}